# App
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_APP_NAME=Kartal Civata Admin
NEXT_PUBLIC_MAIN_APP_URL=http://localhost:3000
NODE_ENV=development

# Database (same as main app)
MONGODB_URI=mongodb://localhost:27017/kartalcivata

# Auth
JWT_SECRET=your-jwt-secret-here

# Logging
LOG_LEVEL=debug
